{% extends "base.html" %}

{% block content %}

<h1 style="text-align: center; margin: 0.5% 0 2% 0; color: #452319; background-color: #C5D0E6; border-radius: 50px">
    О Нас</h1>
<container
        style="text-align: center; width: 100%; color: #452319; background-color: #FDD9B5; display: inline-block; flex-wrap: wrap; padding: 2%; margin-bottom: 2%; border-radius: 50px">

    <h6 style="font-size: 40px; color: #A46F3B; text-shadow: #C5D0E6 0 0 3px;">"Вкуснятина – это не просто сладкое, это искусство наслаждения!"</h6>
    <h1>Горячая линия: <p style="font-style: italic;">8 800 555 35 35</p></h1>
    <h1>Юридический адрес: <p style="font-style: italic;">улица Гончарова, 21А/10, Ульяновск, 432000</p></h1>
    <h1>Фактический адрес: <p style="font-style: italic;">улица Гончарова, 25, Ульяновск, 432071</p></h1>
</container>

{% endblock %}